## Python Lists

The Python List is a general data structure widely used in Python programs. They are found in other languages,
often referred to as dynamic arrays. They are both mutable and a sequence data type that allows them to be indexed
and sliced. The list can contain different types of objects, including other list objects.The Python list is a simple ordered list of objects.
Python lists are very powerful because the objects do not need to be homogeneous, or even the same type so a list can contain strings, integers, and characters, as well as other lists.

 So, why are we learning Python Lists?

- Frequently used
- Any number of items
- Collection of heterogeneous elements
- Mutable: they can easily be changed once they are declared.
- Concept of nested lists: can contain strings, integers, and characters, as well as other lists

## Agenda
- [How to create a List](#How-to-create-a-List)
- [List methods and supported operators](#List-methods-and-supported-operators)
- [Accessing list values](#Accessing-list-values)
- [Iterating over a list](#Iterating-over-a-list)
- [Searching for an item is in a list](#Searching-for-an-item-is-in-a-list)
- [Reversing list elements](#Reversing-list-elements)
- [Concatenate and Merge lists](#Concatenate-and-Merge-lists)
- [Remove duplicate values in list](#Remove-duplicate-values-in-list)
- [Comparison of lists](#Comparison-of-lists)
- [Accessing values in nested list](#Accessing-values-in-nested-list)
- [Length of a list](#Length-of-a-list)
- [List slicing (selecting parts of lists)](#List-slicing-(selecting-parts-of-lists))
- [Deleting and Removing Elements from a list](#Deleting-and-Removing-Elements-from-a-list)

## How to create a List

You can make a list that includes the letters of the alphabet, the digits from 0–9, or the names of
all the people in your family. You can put anything you want into a list, and the items in your list don’t have to be related in any particular way. Because a list usually contains more than one element, it’s a good idea to make the name of your list plural, such as letters, digits, or names.
In Python, **square brackets [ ]** indicate a list, and individual elements in the list are **separated by commas**. Here’s are some **examples:**

In [1]:
# Creating a list of first 5 natural numbers.
# You can take any numbers, float values etc.
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

> **Remember that lists numbering starts from 0 so first element always has an index of 0.**

In [2]:
# Creating a list of Numbers and Strings
list2 =   [1, 2, 3, 4, 5, "Hello World"]
#indexes   0  1  2  3  4      5
list2

[1, 2, 3, 4, 5, 'Hello World']

In [3]:
# Creating a list of Numbers, Strings and other Lists
list3 = [1,2,3,4,5, "Hello World", [6,7,8,9,10] ]
list3

[1, 2, 3, 4, 5, 'Hello World', [6, 7, 8, 9, 10]]

In [4]:
# Creating an empty list
list4 = []
list4

[]

In [5]:
# You can also create empty list by this method
list5 = list()
list5

[]

## List methods and supported operators

Starting with a given list "my_list":

In [6]:
my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

**1. append(value) – appends a new element to the end of the list.**

In [7]:
# Append values 6, 7, and 7 to the list
my_list.append(6)
my_list.append(7)
my_list.append(7)
# my_list: [1, 2, 3, 4, 5, 6, 7, 7]
my_list

[1, 2, 3, 4, 5, 6, 7, 7]

In [8]:
# Append another list
new_list = [8, 9]
my_list.append(new_list)
# my_list: [1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]
my_list

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]

In [9]:
# Append an element of a different type, 
# as list elements do not need to have the same type
my_string = "hello world"
my_list.append(my_string)
# my_list: [1, 2, 3, 4, 5, 6, 7, 7, [8, 9], "hello world"]
my_list

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9], 'hello world']

> Note that the **append() method only appends one new element** to the end of the list. If you append a list to
another list, the list that you append **becomes a single element** at the end of the first list.

In [10]:
# Appending a list to another list
my_list = [1, 2, 3, 4, 5, 6, 7, 7]
new_list = [8, 9]
my_list.append(new_list)
# my_list: [1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]
my_list[8]
# Returns: [8,9]

[8, 9]

**2. extend(enumerable) – extends the list by appending elements from another enumerable.**

In [11]:
my_list = [1, 2, 3, 4, 5, 6, 7, 7]
new_list = [8, 9, 10]
# Extend list by appending all elements from new_list
my_list.extend(new_list)
# my_list: [1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]
my_list

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [12]:
# Extend list with elements from a non-list enumerable:
my_list.extend(range(3))
# my_list: [1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 0, 1, 2]
my_list

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 0, 1, 2]

> Lists can also be concatenated with the + operator. Note that **this does not modify any of the original lists:**

In [13]:
my_list = [1, 2, 3, 4, 5, 6] + [7, 7] + new_list # Concatenation
# my_list: [1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]
my_list

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

**3. index(value, [startIndex]) – gets the index of the first occurrence of the input value. If the input value is
not in the list a ValueError exception is raised. If a second argument is provided, the search is started at that
specified index.**

In [14]:
my_list.index(7)
# Returns: 6

6

In [15]:
my_list.index(49) 
 # ValueError, because 49 is not in my_list.

ValueError: 49 is not in list

In [16]:
my_list.index(7, 7)
# Returns: 7

7

In [17]:
my_list.index(7, 8) 
 # ValueError, because there is no 7 starting at index 8

ValueError: 7 is not in list

**4. insert(index, value) – inserts value just before the specified index. Thus after the insertion the new element occupies position index.**

In [18]:
my_list.insert(0, 0) # insert 0 at position 0
my_list.insert(2, 5) # insert 5 at position 2
# my_list: [0, 1, 5, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]
my_list

[0, 1, 5, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

**5. pop([index]) – removes and returns the item at index. With no argument it removes and returns the last
element of the list.**

In [19]:
my_list.pop(2)
# Returns: 5
# my_list: [0, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

5

In [20]:
my_list.pop(8)
# Returns: 7
# my_list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

7

In [21]:
# With no argument:
my_list.pop()
# Returns: 10
# my_list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

10

**6. remove(value) – removes the first occurrence of the specified value. If the provided value cannot be found, a _ValueError_ is raised.**

In [22]:
my_list.remove(0)
my_list.remove(9)
# my_list: [1, 2, 3, 4, 5, 6, 7, 8]
my_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
my_list.remove(10)
# ValueError, because 10 is not in my_list
my_list

ValueError: list.remove(x): x not in list

**7. reverse() – reverses the list in-place and returns None.**

In [24]:
my_list.reverse()
# my_list: [8, 7, 6, 5, 4, 3, 2, 1]
my_list

[8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
# Lists can also be reversed when sorted using the reverse=True flag in the sort() method.
my_list.sort(reverse=True)
# my_list = [8, 7, 6, 5, 4, 3, 2, 1]
my_list

[8, 7, 6, 5, 4, 3, 2, 1]

**8. count(value) – counts the number of occurrences of some value in the list.**

In [26]:
my_list.count(7)
# Returns: 1

1

**9. sort() – sorts the list in numerical and lexicographical order and returns None.**

In [27]:
my_list.sort()
# my_list = [1, 2, 3, 4, 5, 6, 7, 8]
# Sorts the list in numerical order
my_list

[1, 2, 3, 4, 5, 6, 7, 8]

**10. clear() – removes all items from the list**

In [28]:
my_list.clear()
# my_list = []
my_list

[]

**11. Replication – Multiplying an existing list by an integer will produce a larger list consisting of that many copies of the original. This can be useful for example for list initialization:**

In [29]:
new_list = [1, 3, 5] * 5
# [1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5]

# Note: Take care doing this if your list contains references to objects (eg a list of lists)

**12. Element deletion – it is possible to delete multiple elements in the list using the del keyword and slice
notation:**

In [30]:
my_list = list(range(10))
del my_list[::2]
# my_list = [1, 3, 5, 7, 9]
my_list

[1, 3, 5, 7, 9]

In [31]:
del my_list[-1]
# my_list = [1, 3, 5, 7]
my_list

[1, 3, 5, 7]

In [32]:
del my_list[:]
# my_list = []
my_list

[]

## Accessing list values

> Lists are ordered collections, so you can access any element in a list by
telling Python the position, or index, of the item desired. To access an element in a list, write the name of the list followed by the index of the item
enclosed in square brackets

Starting with a given list "lst":

In [33]:
lst = [1, 2, 3, 4]
lst

[1, 2, 3, 4]

Python lists are zero-indexed, and act like arrays in other languages.

In [34]:
lst = [1, 2, 3, 4]
lst[0] # 1
lst[1] # 2

print(lst[0])
print(lst[1])

1
2

Attempting to access an index outside the bounds of the list will raise an **IndexError**.

In [35]:
lst[4] # IndexError: list index out of range

IndexError: list index out of range

Negative indices are interpreted as **counting from the end of the list**.

In [36]:
lst[-1] # 4
lst[-2] # 3
lst[-5] # IndexError: list index out of range

IndexError: list index out of range

The above is functionally equivalent to

In [37]:
lst[len(lst)-1] # 4

4

Lists allow to use slice notation as lst[start:end:step]. The output of the slice notation is a new list containing
elements from index start to end-1. If options are omitted start defaults to beginning of list, end to end of list and
step to 1:

In [38]:
lst[1:] # [2, 3, 4]
lst[:3] # [1, 2, 3]
lst[::2] # [1, 3]
lst[::-1] # [4, 3, 2, 1]
lst[-1:0:-1] # [4, 3, 2]
lst[5:8] # [] since starting index is greater than length of lst, returns empty list
lst[1:10] # [2, 3, 4] same as omitting ending index

# Printing!
# print()

[2, 3, 4]

 you can **print a reversed** version of the list by calling

In [39]:
lst[::-1] # [4, 3, 2, 1]

[4, 3, 2, 1]

When using step lengths of negative amounts, the starting index has to be greater than the ending index otherwise
the result will be an empty list.

In [40]:
lst[3:1:-1] # [4, 3]

[4, 3]

## Iterating over a list

Starting with a given list "my_list":

In [41]:
my_list = ['A', 'B', 'C']
my_list

['A', 'B', 'C']

Python supports using a for loop directly on a list:

In [42]:
my_list = ['A', 'B', 'C']
for item in my_list:
    print(item)
# Output: A
# Output: B
# Output: C

A
B
C

To get the position of each item at the same time:

In [43]:
for (index, item) in enumerate(my_list):
    print('The item in position {} is: {}'.format(index, item))
# Output: The item in position 0 is: A
# Output: The item in position 1 is: B
# Output: The item in position 2 is: C

The item in position 0 is: A
The item in position 1 is: B
The item in position 2 is: C

The other way of iterating a list based on the index value:

In [44]:
for i in range(0,len(my_list)):
    print(my_list[i])
#output:
# A
# B
# C

A
B
C

## Searching for an item is in a list

Python makes it very simple to check whether an item is in a list. Simply use the in operator.

In [45]:
my_list = ['A', 'B', 'C', 'D']
'A' in my_list
# Out: True

True

In [46]:
my_list = ['A', 'B', 'C', 'D']
'E' in my_list
# Out: False

False

> Note: the in operator on sets is asymptotically faster than on lists. If you need to use it many times on
potentially large lists, you may want to convert your list to a set, and test the presence of elements on
the set.

In [47]:
my_list = set(my_list) # I have used set in this cell (not lists)
'A' in my_list
# Out: True

True

## Concatenate and Merge lists

**1. The simplest way to concatenate list1 and list2:**

In [48]:
# Example
# concatenated_list = list1 + list2
concatenated_list = [1,2,3] + [4,5,6]
concatenated_list   
# Output [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

**2. zip returns a list of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables:**

In [49]:
a_list = ['A1', 'A2', 'A3']
b_list = ['B1', 'B2', 'B3']
for a, b in zip(a_list, b_list):
    print(a, b)
# Output:
# A1 B1
# A2 B2
# A3 B3

A1 B1
A2 B2
A3 B3

> Note: If the lists have different lengths then the result will include only as many elements as the shortest one:

In [50]:
a_list = ['A1', 'A2', 'A3']
b_list = ['B1', 'B2', 'B3', 'B4']   # just B4 is new here !
for a, b in zip(a_list, b_list):
    print(a, b)
# Output:
# A1 B1
# A2 B2
# A3 B3

A1 B1
A2 B2
A3 B3

**3. Insert to a specific index values:**

> This is important and of much useful so be careful. Don't worry it's also easy.

In [51]:
my_list = [123, 'WAQAR', 'ALI', 'HAMZA', 'ISMAIL']

my_list.insert(4, [500])  # we are using here "insert" function i.e my_list.insert()
                # my_list.insert( index where you want to insert, value to be inserted)
print(" List after Insertion :", my_list)
#Output:
# List after Insertion : [123, 'WAQAR', 'ALI', 'HAMZA', [500], 'ISMAIL']

 List after Insertion : [123, 'WAQAR', 'ALI', 'HAMZA', [500], 'ISMAIL']

## Length of a list

Use len() to get the one-dimensional length of a list.
> Note that len() is a built-in function, not a method of a list object.len() also works on strings, dictionaries, and other data structures similar to lists.

In [52]:
len(['one', 'two']) # returns 2

2

In [53]:
len(['one', [2, 3], 'four']) # returns 3, not 4

3

## Remove duplicate values in list

Removing duplicate values in a list **can be done by converting the list to a set** (that is an unordered collection of distinct objects). If a list data structure is needed, then the set can be converted back to a list using the function
list():

In [54]:
my_list = ["A", "B", "C", "D", "A"]
list(set(my_list))
# Output: ['A', 'C', 'B', 'D']

['B', 'A', 'D', 'C']

> **You may have a different output because sets cannot have multiple occurrences of the same element and store unordered values so keep in mind that by converting a list to a set the original ordering is lost.**

In [55]:
#To preserve the order of the list one can use an OrderedDict
import collections
collections.OrderedDict.fromkeys(my_list).keys()
# Output: odict_keys(['A', 'B', 'C', 'D'])

odict_keys(['A', 'B', 'C', 'D'])

## Comparison of lists

It's possible to compare lists and other sequences lexicographically using comparison operators. Both operands
must be of the same type.

In [56]:
[1, 10, 100] < [2, 10, 100]
# True, because 1 < 2

True

In [57]:
[1, 10, 100] < [1, 10, 100]
# False, because the lists are equal

False

In [58]:
[1, 10, 100] <= [1, 10, 100]
# True, because the lists are equal

True

In [59]:
[1, 10, 100] < [1, 10, 101]
# True, because 100 < 101

True

In [60]:
[1, 10, 100] < [0, 10, 100]
# False, because 0 < 1

False

If one of the lists is contained at the start of the other, **the shortest list wins**.

In [61]:
[1, 10] < [1, 10, 100]
# True

True

## Accessing values in nested list

Starting with a list "my_list"

In [62]:
my_list = [1, 2, 3, 4, 5]
# Index:   0  1  2  3  4

# in order to access the 3rd value use name of the list and
# then put its index number between square brackets []

my_list[2]

3

Now starting with a three-dimensional list:

In [63]:
new_list = [[[1,2],[3,4]], [[5,6,7],[8,9,10], [12, 13, 14]]]

**Accessing items in the list:**

In [64]:
print(new_list[0][0][1])
#2
#Accesses second element in the first list in the first list

2

In [65]:
print(new_list[1][1][2])
#10
#Accesses the third element in the second list in the second list

10

In [66]:
# Using slices in nested list:

print(new_list[1][1:])
#[[8, 9, 10], 15, [12, 13, 14]]

[[8, 9, 10], [12, 13, 14]]

## List slicing (selecting parts of lists)

**Using the "step" argument:**

In [67]:
my_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
my_list[::2]
# Output: ['a', 'c', 'e', 'g']

['a', 'c', 'e', 'g']

In [68]:
my_list[::3]
# Output: ['a', 'd', 'g']

['a', 'd', 'g']

**Selecting a sublist from a list:**
- This is how we can create a new list from any list.
- Or we can use some part of the given list.
- If we have to print second and third value of a my_list then we use 2 as starting index and 4 as ending index I.e., **my_list[2:4]**. This is because, In python it always prints from **Start Index to End-1 Index**.

In [69]:
my_list = ['a', 'b', 'c', 'd', 'e']
# Index     0    1    2    3    4 


my_list[2:4]

my_list = ['a', 'b', 'c', 'd', 'e']
# Index     0    1    2    3    4 


my_list[2:4]
# Value c d

# Output: ['c', 'd']

['c', 'd']

In [70]:
my_list[2:]
# Output: ['c', 'd', 'e']

['c', 'd', 'e']

In [71]:
my_list[:4]
# Output: ['a', 'b', 'c', 'd']

['a', 'b', 'c', 'd']

**Reversing a list with slicing**

In [72]:
my_list = [1, 2, 3, 4, 5]

In [73]:
# steps through the list backwards (step=-1)
new_list = my_list[::-1]

In [74]:
# built-in list method to reverse 'my_list'
my_list.reverse()
if my_list == new_list:
    print(True)
print(new_list)
# Output:
# True
# [5, 4, 3, 2, 1]

True
[5, 4, 3, 2, 1]

## Deleting and Removing Elements from a list

Starting with a list "my_list"

In [75]:
my_list = [100, 200, 300, 400, 500]

# HERE
# my_list[0] is "100"
# my_list[1] is "200"
# my_list[2] is "300"
# my_list[3] is "400"
# my_list[4] is "500"

In [76]:
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])
print(my_list[4])

100
200
300
400
500

**TO DELETE FIRST ELEMENT OF THE LIST**

**Let's go over the syntax:**
- The statement begins with the keyword del, short for delete:
**del** my_list[0]
- Next comes a space:
- Then the usual way you specify the list element:
del **my_list[0]**

Now the list has just two remaining elements:

In [77]:
my_list

[100, 200, 300, 400, 500]

> Notice that when you delete the original my_list[0] 100,
Python adjusts the index numbers so there are no gaps. The new list begins with
my_list[0]. There is now no my_list[4].

You can delete any list element by specifying its index number. If the
original list is…

In [78]:
my_list = [100, 200, 300, 400, 500]

# my_list[0] is "100"
# my_list[1] is "200"
# my_list[2] is "300"
# my_list[3] is "400"
# my_list[4] is "500"

**To delete 200:**

In [79]:
del my_list[1]

Again the list has just four remaining elements:

In [80]:
my_list[:]

# my_list[0] is "100"
# my_list[1] is "300"
# my_list[2] is "400"
# my_list[3] is "500"

[100, 300, 400, 500]

> And again, Python adjusts the index numbers so there are no gaps. The new
list begins with my_list[0]. There is now no my_list[4].

**You can also delete an element from a list by specifying its value instead of its
index number:**
- This operation begins with the list name: e.g **my_list**.remove(100)
- Next, a dot: e.g my_list**.**remove(100)
- Then the keyword remove: e.g my_list.**remove**(100)
- The value is enclosed in parentheses: e.g my_list.remove**(100)**

In [81]:
my_list = [100, 200, 300, 400, 500]

In [82]:
my_list.remove(100) # it removes 100 from the list

In [83]:
# Again, the two remaining elements are:
# my_list[1] is "200"
# my_list[2] is "300"
# my_list[3] is "400"
# my_list[4] is "500"

my_list

[200, 300, 400, 500]

Written by:
> **Waqar Ahmad Khattak**